body{ 
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-prop{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input{
    color: gray;
}

.consulta{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.h1_titulo {
    font-size: 24px;
    font-weight: bold;
}

.text_fallida{
    font-size: 15px;
    color: red;
    padding: 15px;
}